.venv
.venv/

.venv39
.venv39/

.venv310
.venv310/

.venvDesktop
.venvDesktop/

.venvLenovo
.venvLenovo/

.ipynb_checkpoints
.ipynb_checkpoints/

__pycache__
__pycache__/

runs
runs/

.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
inst/doc
.DS_Store
radiant.dcf
.vscode

*.aux
*.log
*.out
*.gz

Exports/